.header__title_font {
    font-family: Segoe UI;
    font-size: 26px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}


/* styleName: Мобильный сайт/H2; */
.available-card__title_font {
    font-family: Segoe UI;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-align: left;
}
/* styleName: Мобильный сайт/Body-2; */
.card-description_font {
    font-family: Segoe UI;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

/*  styleName: Сайт/H4; 
    available / way_* (change) / total(btn)
*/
.subtitle-accent_font {
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.total_text-align {text-align: center;}

/*  styleName: Сайт/Н3-new; 
    Способ доставки / Способ оплаты / Получатель / Итого
*/
.get__title_font {
    font-family: Segoe UI;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.01em;
}

/* styleName: Сайт/Body-semibold; */
.subtitle_font {
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.recipient__input-header_font {
    font-family: Segoe UI;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}
.recipient__input-header_color {color: rgba(160, 160, 164, 1);}

/*  styleName: Сайт/Caption; */
.caption_font {
    font-family: Segoe UI;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;    
}

.footer__caption-text {text-align: center; color: rgba(255, 255, 255, 0.7);}

.tabbar__card-num_font {
    font-family: Segoe UI;
    font-size: 10px;
    font-weight: 700;
    line-height: 18px;
}

.card-num_font {
    font-family: Segoe UI;
    font-size: 10px;
    font-weight: 600;
    line-height: 18px;
}

/*  styleName: Сайт/Body; 
    recipient (input) / total
*/
.text_font {
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.color_white {color: rgba(255, 255, 255, 1);}
.color_pink  {color: rgba(203, 17, 171, 1);}
.color_green {color: rgba(12, 180, 119, 1);}
.color_red   {color: rgba(255, 59, 48, 1);}
.color_black {color: rgba(0, 0, 0, 1);} /* unavailable / way-pay / total / available-title / way-delivery / way-pay / recipient (user-input) / total */
.color_gray  {color: rgba(151, 151, 175, 1);} /* way-pay / basket / recipient (prompt-input) */