@font-face {
    font-family: "Segoe UI";
    src: local("Segoe UI"),
        local("SegoeUI"),
        url("./fonts/Segoe UI/Segoe UI.ttf") format("ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Segoe UI";
    src: local("Segoe UI Italic"),
        local("SegoeUI-Italic"),
        url("./fonts/Segoe UI/Segoe UI.ttf") format("ttf");
    font-style: italic;
}
@font-face {
    font-family: "Segoe UI";
    src: local("Segoe UI Bold"),
        local("SegoeUI-Bold"),
        url("./fonts/Segoe UI/Segoe UI.ttf") format("ttf");
    font-weight: bold;
}


.header__title_font {
    font-family: Segoe UI;
    font-size: 26px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.02em;
}


.basket__title_font {
    font-family: Segoe UI;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.01em;
}
.card-description_font {
    font-family: Segoe UI;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.subtitle-accent_font {
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.total_text-align {text-align: center;}

.get__title_font, .litle-price_font {
    font-family: Segoe UI;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.01em;
}


.subtitle_font {
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.recipient__input-header_font {
    font-family: Segoe UI;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}
.recipient__input-header_color {color: rgba(160, 160, 164, 1);}

.caption_font {
    font-family: Segoe UI;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;    
}
.caption-bold_font {
    font-family: Segoe UI;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;    
}

.footer__caption-text {text-align: center; color: rgba(255, 255, 255, 0.7);}

.tabbar__card-num_font {
    font-family: Segoe UI;
    font-size: 10px;
    font-weight: 700;
    line-height: 18px;
}

.card-num_font {
    font-family: Segoe UI;
    font-size: 10px;
    font-weight: 600;
    line-height: 18px;
}

 .counter_font {
    font-family: Segoe UI;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: center;
}


.text_font {
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.color_white {color: rgba(255, 255, 255, 1);}
.color_pink  {color: rgba(203, 17, 171, 1);}
.color_green {color: rgba(12, 180, 119, 1);}
.color_red   {color: rgba(255, 59, 48, 1);}
.color_orange{color: rgba(240, 77, 17, 1);}
.color_black {color: rgba(0, 0, 0, 1);}
.color_gray  {color: rgba(151, 151, 175, 1);}
.color_lightgray {color: rgb(160, 160, 164) !important;}

