@import url("./large.css");
@import url("./desktop.css");

@import url("./fonts-style.css");

.bg-color_pink {background: rgba(203, 17, 171, 1);}
.wrapper_bg-color {background: rgba(103, 37, 168, 1);}
.main_bg-color-primary {background: rgba(246, 246, 250, 1);}
.main_bg-color-secondary {background: rgba(255, 255, 255, 1);}
.bg-color_smoky-dark {background: rgba(240, 236, 244, 1);}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    background: none;
    border: none;
}
.wrapper {
    width: 320px;
}
header {padding: 0 13px;}
.basket, .total, footer {
    padding-left: 16px;
    padding-right: 16px;
}
header, .tabbar {height: 56px;}
.header__mobile, .header__large {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__large {display: none;
    /* display: grid; */
    column-gap: 32px;
    grid-template-columns: 170px 1fr 152px;
    justify-items: center;
}
.header__left {
    display: grid;
    grid-template-columns: 48px auto;
    column-gap: 16px;
}
.header__search {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.header__search img {
    position: absolute;
    right: 20px;
    opacity: .4;
}
#search-input {
    width: 100%;
    height: 48px;
    border-radius: 36px;
    padding: 10px 52px 14px 20px;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    border: 0;
    color: rgba(255, 255, 255, .4);
    z-index: 2;
}
.header__right {
    display: grid;
    grid-template-columns: repeat(2, 56px);
    column-gap: 40px;
    text-align: center;
}
.header__point p {margin-top: 6px;}


#burger {padding: 4.75px 2.75px;}
#burger, #search {
    display: flex;
    margin: auto 0;
}
.site-header {
    padding-top: 11px;
    padding-bottom: 21px;
    font-variant: small-caps;
}
#search {padding: 4px 3.86px 3.86px 4px;}

.main {
    width: 320px;
    padding-top: 15px;
    padding-bottom: 24px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
}

.get {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 12px;
}
.get>section {
    padding: 16px 16px 24px; /* top X bottom */
    border-radius: 16px;
}


/* mixins */
.bonus {
    display: grid;
    align-items: center;
    grid-template-columns: 22px auto;
    grid-column-gap: 8px;
}
.way__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.rating {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
    grid-column-gap: 4px;
}
.checkbox>input {
    width: 22px;
    height: 22px;
    border-radius: 7px;
}
.checkbox {display: flex;}
.size {
    position: absolute;
    left: 4px;
    bottom: 5px;
    padding: 3px;
    padding-top: 0;
    border-radius: 6px;
}

.total__way-pay, .total__way-delivery,
.available__card-apps span:not(:first-child), 
.available__card-right .available__card-company,
.available__card .available__card-price,
.available__card-right p span:not(:first-child),
.unavailable__card-right p span:not(:first-child) {
    display: none;
}

.available__card-main .available__card-price {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 5px;
    align-items: end;
}
.available__price-value {
    display: flex;
    justify-content: flex-end;
}


/* ==================================================== */
.checkbox input {
    display: none;/* <--скрываем дефолтный чекбокс */
}
.checkbox span {/* <-- стилизируем новый */
    width: 22px;
    height: 22px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: inline-block;
    position: relative;
    border-radius:7px;
    padding:3px;
    background-color: rgba(240, 236, 244, 1);
}
.checkbox [type=checkbox]:checked + span:before {/* <-- ставим иконку, когда чекбокс включен  */
    content: url("/icons/get/item_checked.svg");
    position: absolute;
    bottom: 6.52px;
    right: 4.26px;
    width: 12.48px;
    height: 10.16px;
    /* font-size:23px; */
    color:white;
}
.checkbox [type=checkbox]:checked + span {
    background-color: rgba(203, 17, 171, 1);
}
/* ==================================================== */




.unavailable__card-right>p:not(:first-child) {margin-top: 8px;}
.unavailable__card-footer {
    display: flex;
    justify-content: flex-end;
}
.unavailable__card-footer {height: 24px;}
.unavailable-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.amount {
    display: flex;
}
.available__card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
}
.actions {
    display: flex;
    justify-content: flex-end;
}
.actions>button {
    padding: 0 12px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket__content {
    margin-top: 16px;
    margin-bottom: 32px;
    display: grid;
    grid-auto-rows: auto auto;
    grid-row-gap: 48px;
}

.counter {
    display: grid;
    align-items: center;
    grid-template-columns: 24px 32px 24px;
    column-gap: 0;
    border-radius: 4px;
}
.counter__inc {
    padding-bottom: 5px;
    padding-left: 3px;
    text-align: start;
}
.counter__dec {
    padding-right: 3px;
    text-align: end;
}

.list-visibility {
    text-align: end;
    padding-right: 6px;
}

.available-header {
    display: grid;
    align-items: center;
    grid-template-columns: 22px auto 44px;
    grid-column-gap: 11px;
}
.available-header>p, .unavailable-header>p {display: block;}
.available__products-list, .unavailable__products-list {
    margin-top: 16px;
}


.available__card:not(:last-child), .unavailable__card:not(:last-child) {margin-bottom: 16px;}
.available__card, .unavailable__card {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 12px;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 12px;
}
.available__card-left, .unavailable__card-left {
    position: relative;
    display: flex;
}
.available__card-left .checkbox {
    position: absolute;
    top: 4px; left: 4px;
}
.available__card:not(:last-child) {margin-bottom: 16px;}
.available__card-header, .unavailable__card-header {
    display: grid;
    grid-template-columns: 80px auto;
    grid-column-gap: 16px;
}
.available__card-amount {margin-left: 16px;}
.available__card-cost {
    display: flex;
    align-items: end;
}
.available__card-cost>h4 {margin-right: 5px;}
.available__prev-cost {
    text-decoration: line-through;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.available__price-value {}
.available__card-main {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 2px;
}
.available__card-right>p {
    margin-top: 8px;
    flex-wrap: wrap;
}


.way-delivery__point {margin-top: 8px;}
.card-rating {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-column-gap: 8px;
    margin-top: 4px;
}
.way-delivery__cost, .way-delivery__goods {margin-top: 16px;}
.way-delivery__bonus {
    margin-top: 24px; 
    padding: 0 8px;
}
.way-delivery__products {margin-top: 16px;}
.frame:not(:last-child) {margin-bottom: 24px;}
.frame>h3 {margin-bottom: 12px;}
.frame__items, .frame__item {display: flex;}
.frame__item {position: relative;} /* Для .cart-num */
.frame__item:not(:last-child) {margin-right: 8px;}


.way-pay {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 8px;
}
.card-info {
    display: grid;
    align-items: center;
    grid-template-columns: 32px auto;
    grid-column-gap: 8px;
}
.card-info__nums {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-column-gap: 12px;
}


.recipient input {
    width: 100%;
    height: 28px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
    left: -1px;
}
.recipient__fields {
    margin-top: 8px;
}
.recipient__label {
    display: flex;
    flex-direction: column-reverse;
}
.recipient__field-block, .recipient__fields {
    display: grid;
    row-gap: 16px;
}

.recipient__label>input::placeholder {color: rgba(151, 151, 175, 1);}
.recipient__label>input:focus {
    color: rgba(0, 0, 0, 1);
    outline: 0;
}  
.recipient__label-prompt {opacity: 0;}
.explain {
    position: relative;
    top: 3px;
    left: -1px;
}
/* .recipient__label input:valid ~ span, */
.recipient__label input:not(:placeholder-shown) ~ span {opacity: 1;}


.total__bonus {
    padding: 8px 8px 12px;
    border-radius: 8px;
    margin-top: 16px;
}
.bonus__free_border-bottom {
    border-bottom: 1px dashed rgba(12, 180, 119, 0.2);
}

.write-off-way {
    margin-top: 16px;
    border-radius: 8px;
    padding: 8px 8px 12px; /*top X bottom*/
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 8px;
}
.choose {
    display: grid;
    align-items: center;
    grid-template-columns: 22px auto;
    grid-column-gap: 8px;
    width: 100%;
}


.total {
    padding-top: 8px; 
    padding-bottom: 16px; 
    margin-top: 16px;
}
.total__way-pay {
    /* display: grid; */
    grid-template-rows: repeat(2, 24px);
    row-gap: 4px;
    margin-top: 24px;
}
.total__way-delivery {
    /* display: grid; */
    grid-template-rows: repeat(3, auto);
    row-gap: 4px;
    margin-top: 24px;
}

.total__price-point, .total__price-total {
    display: flex;
    justify-content: space-between;
}
.total__price-points {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
/*  */
    position: relative;
    bottom: 1px;
}
.total__order {
    width: 100%;
    margin-top: 24px;
    padding: 7.5px 0 12.5px;
    border: none;
    border-radius: 8px;
}
.total__agree {
    display: grid;
    align-items:start;
    grid-template-columns: 13px auto;
    grid-column-gap: 8px;
    margin-top: 12px;
}
.total__agree>img {
    margin-top: 3.3px;
}
.total__agree>p>span {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}


.footer {padding: 24px 0;}


.tabbar {
    display: flex;
    justify-content: space-between;
    padding-left: 13px;
    padding-right: 13px;
}
.tab {
    margin: auto 0;
    display: flex;
    flex-direction: column;
}
.cart-num {
    background-color: rgba(245, 81, 35, 1);
    border-radius: 16px;
    height: 16px;
    min-width: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2px;
}
.tab-cart {position: relative;}
.tab-cart img, .cart-num {position: inherit;}
.tab-cart img {top: 14px;}
.tab-cart__num {
    position: relative;
    left: calc(28px - (16px - 6px));
    bottom: calc(28px - 4px);
    width: 16px;
}

.header__point {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__point:last-child .header__point-item {margin-right: 8px;}
.header__point-item {
    position: relative;
    width: fit-content;
    height: 30px;
}
.header__point-item .tab-cart__num {
    position: absolute;
    left: auto;
    right: -10px;
    top: -5px;
}
