@import url("./fonts-style.css");

.bg-color_pink {background: rgba(203, 17, 171, 1);}
.wrapper_bg-color {background: rgba(103, 37, 168, 1);}
.main_bg-color-primary {background: rgba(246, 246, 250, 1);}
.main_bg-color-secondary {background: rgba(255, 255, 255, 1);}
.bg-color_smoky-dark {background: rgba(240, 236, 244, 1);}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    width: 320px;
}
header {padding: 0 13px;}
.basket, .total, footer {
    padding-left: 16px;
    padding-right: 16px;
}
header, .tabbar {height: 56px;}
.tabbar {
    padding-left: 13px;
    padding-right: 13px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#burger {padding: 4.75px 2.75px;}
#burger, #search {
    display: flex;
    margin: auto 0;
}
.site-header {
    padding-top: 11px;
    padding-bottom: 21px;
    font-variant: small-caps;
}
#search {padding: 4px 3.86px 3.86px 4px;}

.main {
    padding-top: 15px;
    padding-bottom: 24px;
    width: 320px;
    border-radius: 24px;
}

.get {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 12px;
}
.get>section {
    padding: 16px 16px 24px; /* top X bottom */
    border-radius: 16px;
}



.way-pay {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 8px;
}
.way-pay__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.way-pay__card.text_font {
    display: grid;
    grid-template-columns: 32px auto;
    grid-column-gap: 8px;
}
.card-info {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-column-gap: 12px;
}


.recipient input {
    width: 100%;
    height: 28px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
    left: -1px;
}
.recipient__field {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-row-gap: 16px;
    margin-top: 8px;
}
.recipient__label {
    display: flex;
    flex-direction: column-reverse;
    height: 56px;
}
.recipient__label>input::placeholder {color: rgba(151, 151, 175, 1);}
.recipient__label>input:focus {
    color: rgba(0, 0, 0, 1);
    outline: 0;
}  
.recipient__label-prompt {opacity: 0;}
.explain {
    position: relative;
    top: 3px;
    left: -1px;
}
/* .recipient__label input:valid ~ span, */
.recipient__label input:not(:placeholder-shown) ~ span {opacity: 1;}


.bonus {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    grid-column-gap: 8px;
    padding: 8px 8px 12px;
    border-radius: 8px;
    margin-top: 16px;
}
.bonus__free_border-bottom {
    border-bottom: 1px dashed rgba(12, 180, 119, 0.2);
}

.write-off-way {
    padding: 8px 8px 12px; /*top X bottom*/
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 8px;
}
.choose {
    display: grid;
    align-items: center;
    grid-template-columns: 22px auto;
    grid-column-gap: 8px;
    width: 100%;
}
.write-off-way {
    margin-top: 16px;
    border-radius: 8px;
}
#pay-immediately {
    width: 22px;
    height: 22px;
    border-radius: 7px;
}

.total {padding-top: 8px; padding-bottom: 16px; margin-top: 16px;}
.total label input {
    display: none;/* <--скрываем дефолтный чекбокс */
}
.total label span {/* <-- стилизируем новый */
    width: 22px;
    height: 22px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: inline-block;
    position: relative;
    border-radius:7px;
    padding:3px;
}
.total [type=checkbox]:checked + span:before {/* <-- ставим иконку, когда чекбокс включен  */
    content: url("/icons/get/item_checked.svg");
    position: absolute;
    bottom: 6.52px;
    right: 4.26px;
    width: 12.48px;
    height: 10.16px;
    /* font-size:23px; */
    color:white;
}
.total [type=checkbox]:checked + span {
    background-color: rgba(203, 17, 171, 1);
}

.total__price-point, .total__price-total {
    display: flex;
    justify-content: space-between;
}
.total__price-points {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
/*  */
    position: relative;
    bottom: 1px;
}
.total__order {
    width: 100%;
    margin-top: 24px;
    padding: 7.5px 0 12.5px;
    border: none;
    border-radius: 8px;
}
.total__agree {
    display: grid;
    align-items:start;
    grid-template-columns: auto auto;
    grid-column-gap: 8px;
    margin-top: 12px;
}
.total__agree>img {
    margin-top: 3.3px;
}


.footer {padding: 24px 0;}


.tabbar {
    display: flex;
    justify-content: space-between;
}
.tab {
    margin: auto 0;
    display: flex;
    flex-direction: column;
}
.cart-num {
    background-color: rgba(245, 81, 35, 1);
    border-radius: 16px;
    width: 16px;
    height: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2px;
}
.tab-cart {position: relative;}
.tab-cart img, .cart-num {position: inherit;}
.tab-cart img {top: 14px;}
.cart-num {
    left: calc(28px - (16px - 6px));
    bottom: calc(28px - 6px);
}