/* Основная часть */
.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: rgba(0,0,0,0.5);
    opacity: 0; /* Скрываем фон и сам попап */
    pointer-events: none; /* Запрещаем ему быть целью событий */
    transition: 0.5s all;
}
/* При добавлении класса 'active' */
.popup__bg.active {
    opacity: 1; /* Показываем фон и попап */
    pointer-events: all; /* Возвращаем события */
    transition: 0.5s all;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); /* Центрируем и масштабируем в 0 само окно */
    background: #fff;
    width: 400px;
    padding: 25px;
    transition: 0.5s all;
}
/* При добавлении класса 'active' */
.popup.active { 
    transform: translate(-50%, -50%) scale(1); /* Так же центрируем и плавно увеличиваем */
    transition: 0.5s all;
}


/* Визуал поп-апов */
.popup {
    height:  408px;
    padding: 16px 24px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.popup header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: fit-content;
    padding: 0;
}
.popup button {
    padding-left: 48px;
    padding-right:48px;
    width: fit-content;
}

.popup-pay {width: 400px;}
.popup-delivery {width: 500px;}
.popup-delivery__header_font {
    font-family: Segoe UI;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.01em;
}

.pay-ways {
    display: grid;
    row-gap: 16px;
    margin-top: 13px;
}
.pay-ways__option input {margin-right: 8px;}
.pay-ways__option img {margin-right: 4px;}

.delivery-ways {
    margin-top: 13px;
    display: grid;
    column-gap: 8px;
    grid-template-columns: repeat(2, 1fr);
}
.delivery-ways button {
    border-radius: 20px;
    border: 2px solid;
    padding: 9px 0 11px;
    width: auto;
}
.delivery-addresses {
    display: grid;
    row-gap: 8px;
    margin-top: 24px;
}
.delivery-addresses__option {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    column-gap: 8px;
}
.delivery-addresses__option input  {height: 16px; margin: 9px 2px 0;}
.delivery-addresses__option span   {padding:4px 0 8px;}
.delivery-addresses__option button {display:flex; padding:2.5px;} 
.delivery-addresses__option button>img    {pointer-events: none;}

.button_border-color_disabled {border-color: rgba(203, 17, 171, 0.15) !important;}
.button_border-color_chosen   {border-color: rgb(203, 17, 171)        !important;}

@media (max-width: 320px) {
    .popup-delivery__header_font {
        font-weight: 600 !important;
    }

    .popup {
        width:  100vw;
        height: 100vh;
    }
}