include mixin


block header
    a#burger
        +image('../icons/header/burger.svg', '22.5px', '18.5px')
    h1.site-header.color_white.header__title_font= 'товары и точка'
    a#search
        +image('../icons/header/search.svg', '20.14px')