doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../css/main.css")
    body
        .wrapper.wrapper_bg-color
            section.container
            header.header
                block header
                    include header
            main.main
                section.basket
                    | Корзина
                    section.available
                        block available
                    section.absent
                        block absent
                section.get
                    section.way-delivery
                        block way_delivery
                    section.way-pay
                        block way_pay
                    section.recipient
                        block recipient
                        | Получатель
                section.total
                    block total
            footer.footer
                block footer
            section.tabbar
                block tabbar