doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../css/main.css")
    body(class="text_font")
        .wrapper.wrapper_bg-color
            header.header
                block header
                    include header
            main.main.main_bg-color-primary
                section.basket
                    //- | Корзина
                    section.available
                        block available
                    section.unavailable
                        block unavailable
                section.get
                    section.way-delivery(class="main_bg-color-secondary")
                        block way_delivery
                    section.way-pay(class="main_bg-color-secondary")
                        block way_pay
                            include get/way_pay
                    section.recipient(class="main_bg-color-secondary")
                        block recipient
                            include get/recipient
                section.total
                    block total
                        include total/total
            footer.footer
                p.caption_font.footer__caption-text © 2022  ООО «Товары и точка»
            section.tabbar.main_bg-color-secondary
                block tabbar
                    include tabbar