include mixin


- var imgFolder = "../icons/tabbar/"
- var tabbar = ["main", "catalog", "cart", "favorites", "profile"]
- var cart_num = 3


block tabbar
    each item in tabbar 
        if item=="cart"
            a.tab-cart
                +image(imgFolder+"cart-sel"+".svg", "28px")
                +cartNum(cart_num)(class="tab-cart__num tabbar__card-num_font")
        else
            a.tab
                +image(imgFolder+item+".svg", "28px")