include mixin


- var imgFolder = "../icons/tabbar/"
- var tabbar = ["main", "catalog", "cart", "favorites", "profile"]
- var cart_num = 3
- var fav_num = 0
- var imgSize = "28px"


block tabbar
    each item in tabbar 
        if item=="cart"
            a.tab.tab-cart
                +image(imgFolder+"cart-sel"+".svg", imgSize)
                +cartNum(cart_num)(class="tab-cart__num tabbar__card-num_font", 
                                    style=""+cart_num==0?"display: none;":'')
        else if item=="favorites"
            a.tab.tab-cart
                +image(imgFolder+item+".svg", imgSize)
                +cartNum(fav_num)(class="tab-favorites__num tabbar__card-num_font", 
                                    style=""+fav_num==0?"display: none;":'')
        else
            a.tab
                +image(imgFolder+item+".svg", imgSize)