include ../mixin

-
    var card_data = {num: "1234 56•• •••• 1234", validity: "01/30"}

block way_pay
    +wayHeader('Способ оплаты')(class="way-pay__header")
    .way-pay__card.text_font
        +image("/icons/get/mir_pay.svg", "32px", "24px")
        p.card-info
            span.card-num= card_data.num
            span.card-validity= card_data.validity
    .way-pay__caption.caption_font.color_gray
        p Спишем оплату с карты при получении