include ../mixin


block way_pay
    +wayHeader('Способ оплаты')(class="way-pay__header")
    +cardInfo(class="text_font")
    .way-pay__caption.caption_font.color_gray
        p Спишем оплату с карты при получении